/* UPDATED */

body {
	background: url(http://www.davidgiralphoto.com/data/photos/180_1travel_photography_cityscapes_06.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header{
	background-color:#FFFFFF;
	padding : 1%;
}

#main-container{
    background-color: rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 2px 3px 3px #000000;
    -webkit-box-shadow: 2px 3px 3px #000000;
    box-shadow: 2px 3px 3px #000000;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin:2%;
    border-bottom-right-radius: 5px;
   
}
.item {
	padding: 1%;
}
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* End defaults*/
.card {
	display: inline-block;
	vertical-align: top;
	width: 96%;
	position: relative;
	overflow: hidden;
	margin: 8px;
	background: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	color: #272727;
	border-radius: 2px;
	float: left;
  }
  .card .title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
  }
  .card .content {
    padding: 20px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
  }
  .card p {
    margin: 0;
  }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
  }
  .card a {
	color: #FF0000;
	margin-right: 20px;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
  }
  .card .image {
    position: relative;
  }
  .card .image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .card .image .title {
	position: absolute;
	bottom: 2px;
	left: 0;
	padding: 20px;
	color: #FFF;
  }
  
  /* Fixed East & West Coast Times */
  
	#eastcoast{    
	position: fixed;
	bottom: 0;
	right: 0;
	height: 250px;
	width: 340px;
    background-image:
    z-index: 9999;
	background-attachment: fixed;
	background-image: url(../img/nyc_time_bck.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top:160px;;
	padding-left:120px;
}
  
	#westcoast{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 250px;
	width: 340px;
    background-image:
    z-index: 9999;
	background-attachment: fixed;
	background-image: url(../img/cali_time_bck.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top:160px;;
	padding-left:70px;
}

#timebox{
	background-color: #FFF;
	height: 50px;
	width: 180px;
	padding-left: 20px;
	padding-top: 10px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
	-webkit-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.75);
box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.75);
}

.wc{font-size:36px; color:#FB5B1F; text-align:center;font-family: 'Coustard', serif;}

.ec{font-size:36px; color:#blue; text-align:center;font-family: 'Coustard', serif;}